:root {
  --bg: #eff0ff;
  --inactive: rgb(173, 173, 173);
  --title: rgb(44, 44, 44);
  --active: #92a3e8;
  --text: rgb(83, 83, 83);
  --mark: #d6dfff;
  --box: white; }

[data-theme="pink"] {
  --bg: rgb(255, 233, 236);
  --active: rgb(255, 207, 215);
  --mark: #fce9ff; }

[data-theme="blue"] {
  --bg: rgb(231, 240, 255);
  --active: rgb(190, 216, 255);
  --mark: rgb(219, 233, 255); }

[data-theme="dark"] {
  --bg: rgb(0, 0, 0);
  --inactive: rgb(219, 219, 219);
  --title: rgb(255, 255, 255);
  --text: rgb(218, 218, 218);
  --box: rgb(31, 31, 31); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none; }

body {
  background-repeat: repeat;
  background-color: var(--bg); }
  body ::-webkit-scrollbar {
    display: none; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }
  .container .palette {
    height: 200px;
    width: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none; }
    .container .palette .color {
      margin: 8px 0px 8px 0px;
      width: 35px;
      height: 35px;
      border-radius: 90%;
      cursor: pointer; }
    .container .palette .color:hover {
      transition: 0.5s;
      transform: scale(1.1); }
    .container .palette .blue {
      background: #bed8ff; }
    .container .palette .pink {
      background: #ffcfd7; }
    .container .palette .purple {
      background: #cdccff; }
    .container .palette .dark {
      background: #1d1d1d; }
  .container .box {
    flex-direction: column;
    padding: 20px;
    justify-content: flex-start;
    width: 900px;
    height: 750px;
    background-color: var(--box);
    border-radius: 10px; }
    .container .box .header {
      flex-direction: row;
      height: 10%;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-around; }
      .container .box .header a {
        text-decoration: none;
        color: var(--inactive);
        font-size: 12px;
        text-transform: uppercase;
        font-family: lato;
        font-weight: 200; }
        .container .box .header a.active {
          color: var(--title);
          font-weight: 400;
          border-bottom: solid 2px var(--active); }
      .container .box .header a:hover {
        color: var(--title);
        font-weight: 400; }
    .container .box .main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      height: 80%;
      overflow-y: scroll; }
      .container .box .main img {
        animation-name: fadePicture;
        animation-duration: 1s;
        cursor: pointer;
        width: 50%; }
      .container .box .main h1 {
        margin-bottom: 10px;
        font-family: lato;
        font-size: 30px;
        letter-spacing: 10px;
        color: var(--title); }
      .container .box .main h2 {
        margin: 0;
        font-family: lato;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 200;
        color: var(--inactive); }
      .container .box .main a {
        color: black;
        text-decoration: none; }
      .container .box .main span {
        color: var(--active); }
      .container .box .main mark {
        background-color: var(--mark); }
      .container .box .main p {
        text-align: center;
        font-family: lato;
        color: var(--text);
        font-weight: 200;
        line-height: 30px; }
      .container .box .main h3 {
        margin-top: 25px;
        font-family: lato;
        font-size: 20px;
        color: var(--title);
        text-transform: uppercase;
        letter-spacing: 4px; }
      .container .box .main .left {
        animation-name: fadeLeft;
        animation-duration: 1s;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        width: 50%;
        height: 100%; }
      .container .box .main .right {
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%; }
        .container .box .main .right img {
          animation-name: fadeRight;
          animation-duration: 1s;
          height: 100%;
          width: auto; }
    .container .box .footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 10%; }
      .container .box .footer a {
        text-decoration: none; }
      .container .box .footer img {
        margin: 0px 8px 0px 8px;
        width: 25px; }

.line {
  margin: 30px 0px 30px 0px;
  width: 280px;
  border: solid 0.5px #dbdbdb; }

.zoom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 1; }
  .zoom img {
    animation-name: fadePicture;
    animation-duration: 0.5s;
    width: 60%;
    z-index: 2; }
  .zoom .close {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    top: 80;
    width: 60%;
    height: 20px;
    cursor: pointer; }
    .zoom .close img {
      width: 20px; }
  .zoom .control {
    margin: 30px;
    width: 15px;
    cursor: pointer; }

.hidden {
  display: none; }

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(60px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }
@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-60px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }
@keyframes fadePicture {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes aniVertical {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@media screen and (max-width: 850px) {
  .container .palette {
    display: none; }
  .container .box {
    width: 100%;
    height: 100%; }
    .container .box .header {
      width: 100%; }
      .container .box .header a {
        font-size: 10px; }
    .container .box .main img {
      width: 100%; }
    .container .box .main .left {
      width: 100%;
      padding: 0;
      text-align: center; }
    .container .box .main .right {
      display: none; } }

/*# sourceMappingURL=main.css.map */
